{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Net Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
{% include 'Header.html' %}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="{% url "HomePage" %}">Home</a>
        <span class="breadcrumb-item active">About Us</span>
    </div>
</div>
<section class="static about-sec">
    <div class="container">
        <h1>About Us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem </p>

        <h6>Email: <a href="mailto:zahra.r.shirazi1375@gmail.com">zahra.r.shirazi1375@gmail.com</a></h6>
        <br>
        <h6>Phone Number: <a href="tel:09021454154">09021454154</a></h6>

    </div>
    </div>
</section>
{% include 'Footer.html' %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}
</body>

</html>