{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Net Book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
</head>

<body>
{% include "Header.html" %}
<section class="slider">
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="slide d-block w-100">
                        <img src="{% static 'images/slide2.jpg' %}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>welcome to bookstore</h3>
                                <h5>Discover the best books online with us</h5>
                                <a href="{% url 'AllBooksPage' %}" class="btn btn-light">خرید کتاب</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="slide slide d-block w-100">
                        <img src="{% static 'images/slide3.jpg' %}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>welcome to bookstore</h3>
                                <h5>Discover the best books online with us</h5>
                                <a href="{% url 'AllBooksPage' %}" class="btn btn-light">خرید کتاب</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="slide slide d-block w-100">
                        <img src="{% static 'photo_2021-03-08_00-56-50 (2).jpg' %}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>welcome to bookstore</h3>
                                <h5>Discover the best books online with us</h5>
                                <a href="{% url 'AllBooksPage' %}" class="btn btn-light">خرید کتاب</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="slide slide d-block w-100">
                        <img src="{% static 'photo_2021-03-08_00-56-51.jpg' %}" alt="slide1">
                        <div class="content">
                            <div class="title">
                                <h3>welcome to bookstore</h3>
                                <h5>Discover the best books online with us</h5>
                                <a href="{% url 'AllBooksPage' %}" class="btn btn-light">خرید کتاب</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<script type="text/javascript">


</script>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>highly recommendes books</h2>
            <hr>
        </div>
        <div class="row">
            {% for Book in Books %}
                <div class="col-lg-3 col-md-6">
                    <div class="item">
                        <img src="{{ Book.Cover.url }}" alt="{{ Book.Title }}">
                        <h3>{{ Book.Title }}</h3>
                        <h6><span class="price">${{ Book.Price }}</span> / <a
                                href="{% url 'DetailBookPage' book_id=Book.id %}">Buy Now</a></h6>
                        <div class="hover">
                            <a href="{% url 'DetailBookPage' book_id=Book.id %}">
                                <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><br>
        <a href="{% url 'AllBooksPage' %}" class="btn">All Books</a>
    </div>
</section>
<section class="about-sec">
    <div class="about-img">
        <figure style="background:url({% static 'images/about-img.jpg' %})no-repeat;"></figure>
    </div>
    <div class="about-content">
        <h2>About bookstore,</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's printer took a galley of type and Scrambled it to make a type and typesetting industry. Lorem
            Ipsum has been the book. </p>
        <p>It has survived not only fiveLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's printer took a galley of type and</p>
        <div class="btn-sec">
            <a href="{% url "AllBooksPage" %}" class="btn btn-primary">خرید کتاب</a>
            <a href="{% url "LoginPage" %}" class="btn btn-primary">subscriptions</a>
        </div>
    </div>
</section>
{% include 'Footer.html' %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>

</html>